:root{
    --primary: #053e55;
    --secondary: #005480;
    --background : #ffffff;
  }
  
  
body{
  background-color: var(--background);
}

#side-menu{
  background-color: var(--primary);
  color:var(--background);
}

#sidemenu_tag{
    background-color : var(--secondary);
}
#sidemenu_tag a{
    font-size: 2em;
    color:#ffffff;
}
/* layout styles */
nav, #myNav{
    background: var(--secondary);
}

nav a{
  text-transform: uppercase;

}

nav a span{
  font-weight: bold;
}
nav .sidenav-trigger{
  margin: 0;
}

.sectionTitle {
    color:var(--secondary);
    font-size: 2.7em;
    font-weight: bold;
    
}



#divide {
    background-color: var(--primary);
    color:var(--primary);
}

.listeCards {
  flex-basis:300px;
}

.cardsContainer {
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.defaultDescription{
  font-size: 20px;
  margin: auto;
}
.defaultTitle{
  margin-top: 15px;
  text-align: center;
  text-decoration: underline;

}

.defaultP{
  margin-top: 15px;
  left: 15px;
  font-weight: bold;
  font-size: 30px;
  text-decoration: underline;

}

i.material-icons {
  vertical-align: middle;
  position: relative;
  top: -1px;
}

a, #menu_icon_navbar {
  cursor: pointer;
}


h1{
  color: #396;
  font-weight: 100;
  font-size: 40px;
  margin: 40px 0px 20px;
}

#clockdiv, #clockdivMenu{
  font-family: sans-serif;
  color: #fff;
  display: flex;
  padding-top:15px;
  font-weight: 100;
  align-items: center;
  justify-content: center;
  font-size: 30px;
}

#clockdivMenu > div{
  margin:5px;
  width: 100px;
  text-align: center;
  padding: 10px;
  border-radius: 3px;
  background: var(--secondary);
  display: inline-block;
}

#clockdiv > div{
  margin:5px;
  width: 100px;
  text-align: center;
  padding: 10px;
  border-radius: 3px;
  background: var(--secondary);
  display: inline-block;
}

#clockdivMenu div > span{
  padding: 15px;
  width: 60px;
  border-radius: 3px;
  background: var(--primary);
  display: inline-block;
}

#clockdiv div > span{
  padding: 15px;
  width: 60px;
  border-radius: 3px;
  background: var(--primary);
  display: inline-block;
}

.smalltext, .smalltextMenu{
  padding-top: 5px;
  font-size: 16px;
}
@media (min-width: 430px) {
#menu{
  top:50%;transform: translateY(50%)
}
}