:root{
    --primary: #053e55;
    --secondary: #005480;
    --background : #ffffff;
  }
  
  
body{
  background-color: var(--background);
}

#side-menu{
  background-color: var(--primary);
  color:var(--background);
}

#sidemenu_tag{
    background-color : var(--secondary);
}
#sidemenu_tag a{
    font-size: 2em;
    color:#ffffff;
}
/* layout styles */
nav, #myNav{
    background: var(--secondary);
}

nav a{
  text-transform: uppercase;

}

nav a span{
  font-weight: bold;
}
nav .sidenav-trigger{
  margin: 0;
}

.sectionTitle {
    color:var(--secondary);
    font-size: 2.7em;
    font-weight: bold;
    
}



#divide {
    background-color: var(--primary);
    color:var(--primary);
}

.listeCards {
  flex-basis:300px;
}

.cardsContainer {
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.defaultDescription{
  font-size: 20px;
  margin: auto;
}
.defaultTitle{
  margin-top: 15px;
  text-align: center;
  text-decoration: underline;

}

.defaultP{
  margin-top: 15px;
  left: 15px;
  font-weight: bold;
  font-size: 30px;
  text-decoration: underline;

}

i.material-icons {
  vertical-align: middle;
  position: relative;
  top: -1px;
}

a, #menu_icon_navbar {
  cursor: pointer;
}