:root{
    --primary: #061244;
    --secondary: #005480;
    --background : #ffffff;
  }

  
body{
  background-color: var(--background);
}

#side-menu{
  background-color: var(--primary);
}

/* layout styles */
nav{
  background: var(--primary);
  border-bottom: 10px solid var(--secondary);
}

nav a{
  text-transform: uppercase;
  color: var(--title);
}

nav a span{
  font-weight: bold;
}
nav .sidenav-trigger{
  margin: 0;
}