<!DOCTYPE html>
<html><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
		<!--En-tête de la page-->
		<meta charset="utf-8">
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		<link rel="stylesheet" href="https://mondoecl.github.io/CampagneEclair/style.css">
		<title>Liste Eclair 2021 - Error 404 - Dead Link</title>
		<link rel="icon" type="image/png" href="https://mondoecl.github.io/CampagneEclair/images_compressees/logo_eclair.png">
	</head>
	
	<body>
		
		<div id="bloc_page">		
			
			
			<div id="fond">
			</div>
			<a href="/" style="color:red;text-decoration:none; position: absolute;top:0px;right:15px"><i class="material-icons sidenav-trigger" style="font-size:70px;">clear</i></a>
			<section id="section_pres">
			
				<!--<img src="images/parchemin_vertical.png" alt="parchemin" id="parchemin_pres" />-->
				<div class="parchemin_pres">
					<h2>
					Au secours ! En arpentant les contrees hostiles du web, Link a succombe face aux defaillances informatiques.<br>
					Se relevant malgre les nombreux Memes a son sujet, Link s’est donne
 comme mission de terrasser les pannes pour retablir le bonheur et la 
serenite du royaume.<br>
					Pour se faire, il a rassemble une fine equipe d'aventuriers, prets a
 en decoudre face aux dangers des fonctions recursives et des bases de 
donnees.
					</h2>
				</div>
			<!--	<h2>
				Au secours ! En arpentant les contrées hostiles du web, Link a succombé face aux défaillances informatiques.<br />
				Se relevant malgré les nombreux Memes à son sujet, Link s’est donné comme mission de terrasser les pannes pour rétablir le bonheur et la sérénité du royaume.<br />
				Pour ce faire, il a rassemblé une fine équipe d'aventuriers, prêts à en découdre face aux dangers des fonctions récursives et des bases de données.
				</h2>
				-->
				
				<a href="#section_membres">
					<div id="logo">
						<img src="https://mondoecl.github.io/CampagneEclair/images_compressees/logo.png" alt="Logo Link">
					</div>
				</a>
				
				<div class="parchemin_pres">
					<h2>
					Permanences au local afin d'aider les Centraliens et de vendre du 
materiel, deploiement de MyECL, aide aux autres associations, sans 
oublier le maintien du site de la Ligue du Caps !<br>
					Voici quelques unes des nombreuses taches que Link et ses 
compagnons n'auront pas peur de mener a bien tout au long de leur mandat
 !
					</h2>
				</div>
				
				<div class="fairy">
					<div class="wings"></div>
						<div class="glow">
						<div class="sparkle"></div>
						<div class="sparkle"></div>
						<div class="sparkle"></div>
						<div class="sparkle"></div>
						<div class="sparkle"></div>
					</div>
				</div>
				
			</section>
			
			<section id="section_membres">
				
				<div id="membres">
					<div class="box_membre">
						<div class="container">
							<div class="boxK2" id="box">
								<div class="icon_bg"></div>
							</div>
							<div class="icon">
								<img src="https://mondoecl.github.io/CampagneEclair/images_compressees/link1.webp" alt="Link" width="100x" height="110px">
							</div>
						</div>
						<div class="text">
							<p class="title">K2</p>
						</div>
					</div>
					
					<div class="box_membre">
						<div class="container">
							<div class="boxMondo" id="box">
								<div class="icon_bg"></div>
							</div>
							<div class="icon">
								<img src="https://mondoecl.github.io/CampagneEclair/images_compressees/revali.webp" alt="Revali" width="100px" height="110px">
							</div>
						</div>
						<div class="text">
							<p class="title">Mondo</p>
						</div>
					</div>
					
					<div class="box_membre">
						<div class="container">
							<div class="boxTyshaud" id="box">
								<div class="icon_bg"></div>
							</div>
							<div class="icon">
								<img src="https://mondoecl.github.io/CampagneEclair/images_compressees/daruk.webp" alt="daruk" width="100px" height="110px">
							</div>
						</div>
						<div class="text">
							<p class="title">Tyshaud</p>
						</div>
					</div>
					
					<div class="box_membre">
						<div class="container">
							<div class="boxAtmos" id="box">
								<div class="icon_bg"></div>
							</div>
							<div class="icon">
								<img src="https://mondoecl.github.io/CampagneEclair/images_compressees/Ganondorf.webp" alt="ganon" width="100px" height="110px">
							</div>
						</div>
						<div class="text">
							<p class="title">Atmos</p>
						</div>
					</div>
					
					<div class="box_membre">
						<div class="container">
							<div class="boxJayllho" id="box">
								<div class="icon_bg"></div>
							</div>
							<div class="icon">
								<img src="https://mondoecl.github.io/CampagneEclair/images_compressees/Link_et_Epona.webp" alt="Link&amp;epona" width="100px" height="110px">
							</div>
						</div>
						<div class="text">
							<p class="title">Jayllho</p>
						</div>
					</div>
					
					<div class="box_membre">
						<div class="container">
							<div class="boxPahshé" id="box">
								<div class="icon_bg"></div>
							</div>
							<div class="icon">
								<img src="https://mondoecl.github.io/CampagneEclair/images_compressees/Oudeau.webp" alt="oudeau" width="85px" height="100px">
							</div>
						</div>
						<div class="text">
							<p class="title">Pahshé</p>
						</div>
					</div>
					
					<div class="box_membre">
						<div class="container">
							<div class="boxInstent" id="box">
								<div class="icon_bg"></div>
							</div>
							<div class="icon">
								<img src="https://mondoecl.github.io/CampagneEclair/images_compressees/Rauru.webp" alt="rauru" width="75px" height="110px">
							</div>
						</div>
						<div class="text">
							<p class="title">Instent</p>
						</div>
					</div>
					
					<div class="box_membre">
						<div class="container">
							<div class="boxGeaunh" id="box">
								<div class="icon_bg"></div>
							</div>
							<div class="icon">
								<img src="https://mondoecl.github.io/CampagneEclair/images_compressees/Skull_Kid.webp" alt="skull" width="75px" height="110px">
							</div>
						</div>
						<div class="text">
							<p class="title">Geaunh</p>
						</div>
					</div>
					
					<div class="box_membre">
						<div class="container">
							<div class="boxRykhun" id="box">
								<div class="icon_bg"></div>
							</div>
							<div class="icon">
								<img src="https://mondoecl.github.io/CampagneEclair/images_compressees/Vieil_Homme.webp" alt="vieil_homme" width="75px" height="110px">
							</div>
						</div>
						<div class="text">
							<p class="title">Rykhûn</p>
						</div>
					</div>
					
					<div class="box_membre">
						<div class="container">
							<div class="boxMouhloks" id="box">
								<div class="icon_bg"></div>
							</div>
							<div class="icon">
								<img src="https://mondoecl.github.io/CampagneEclair/images_compressees/Darunia.webp" alt="darunia" width="100px" height="110px">
							</div>
						</div>
						<div class="text">
							<p class="title">Mouhloks</p>
						</div>
					</div>
					
					<div class="box_membre">
						<div class="container">
							<div class="boxKreoh" id="box">
								<div class="icon_bg"></div>
							</div>
							<div class="icon">
								<img src="https://mondoecl.github.io/CampagneEclair/images_compressees/Ganon2.webp" alt="ganon2" width="100px" height="110px">
							</div>
						</div>
						<div class="text">
							<p class="title">Khréöh</p>
						</div>
					</div>
				</div>				
			</section>
			
			<footer>
				<p>Réalisé par <a href="https://www.instagram.com/mathis.dga/" target="_blank">Mondo</a></p>
			</footer>
		</div>
	
</body></html>