<%# template par défaut de présentation de liste %>

<h1>liste: <%=liste.nom%></h1>
<img src='img/<%=liste.logo%>' alt='logo' width='300px'>
<ul>
    <% liste.membres.forEach(membre => { %>
        <li><%=membre%></li>
    <% }); %>
</ul>