<!-- template par défaut de présentation de liste -->
<br>
<div class="container defaultDescription">
    <h2 class="defaultTitle">Angela Merkelex</h2>

        <p class="defaultP"><i class="material-icons">event</i>Description</p>
        <div style="max-width: 1000px;margin: auto;">
        <ul style="text-align: left;">
            
                <li> Pour une monde extérieur qui bouge, RelEx est là pour vous régaler.</li>
                <br>
                <li> Pour une Allemagne du 21ème siècle, RelEx est là pour vous délecter.</li>
                <br>
                <li> Pour une ComExt de qualité allemande, RelEx est là pour vous faire briller.</li>
                <br>

        </ul>
        </div>

    <p class="defaultP"><i class="material-icons">accessibility</i>Liste des membres </p>
    <div style="max-width: 500px;margin: auto;">
    <ul style="text-align: left;">
            <li>• Alexandre De Lambeye (Kloklo)</li>
            <li>• Matis Chappaz (Melynn)</li>
            <li>• Gabriel De La Noue (Wejdene)</li>
            <li>• Quentin Alcayde (Mara)</li>
            <li>• Paul Dewilde (Kémi)</li>
            <li>• Paul Laberenne (Orys)</li>
            <li>• Jean Beuselink (Skouter)</li>
            <li>• Marvin-Evans Kameni de Djani (Tof)"</li>
            <li>• Nicolas Guillou (Bandor)</li>
            <li>• Alexandre Ferrière (Nõlo)</li>
            <li>• Lucile Audard (Nara)</li>
            <li>• Laure De La Grandville (Abda)</li>
            <li>• Emma Meyer (Necky)</li>
            <li>• Adrien Tassan-Mazzocco (Delihan)</li>
            <li>• Benjamin Frish (Nolphé)</li>
            <li>• Ferdinand Willemin (Terk)</li>
            <li>• Nathan Rogier (Biskow)</li>
            <li>• Thibault Duquesnoy (Padjy)</li>
    </ul>
    </div>

        <p class="defaultP"><i class="material-icons">event</i>Programme de Mandat</p>
        <div style="max-width: 1000px;margin: auto;">
        <ul style="text-align: left;">

                <li>• Organisation de soirées avec les campus Lyon Ouest : EM Lyon, Véto, Osteo etc…</li>
                <br>
                <li>• Organisation de concours inter-écoles : cuisine, éloquence, jeux vidéo pour renforcer les liens inter-école </li>
                <br>
                <li>• Création de groupe de supporter inter-école (football, rugby etc..) pour retransmettre des matchs dans le foyer </li>
                <br>
                <li>• Création de club inter-école pour avoir plus d’effectif comme un club d’œnologie et un partenariat avec le Club Golf ECL pour monter une équipe compétitive</li>
                <br>
                <li>• Organisation du C5 : congrès entre les associations des écoles Centrale qui se tient à Paris</li>
                <br>
                <li>• Pour l’ACL, organisation d’afterwork avec les anciens pour parler des stages et de différents jobs à la sortie de Centrale</li>
                <br>

        </ul>
        </div>

        <p class="defaultP"><i class="material-icons">share</i>Réseaux sociaux</p>
        <div style="display: flex;justify-content: space-around;">
            <a style="flex-wrap:wrap;" href="https://www.facebook.com/Angela-Merkelex-ECL-105083324816398">Facebook</a>
        </div>
        <div style="margin-top:25px;width:100%;text-align: center;">
            <img style="width: 200px;" src="img/RELEX/insta.jpg">
        </div>
</div>