<!DOCTYPE html>
<html>
  <head>
    <title>Peaky Wei'nders</title>
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Quicksand">
    <link rel="stylesheet" type="text/css" href="https://benjamindenise.github.io/assets/stylesheet/normalize.css" />
    <link rel="stylesheet" type="text/css" href="https://benjamindenise.github.io/assets/stylesheet/main.css" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  </head>
  <body>

    <a href="/" style="color:red;text-decoration:none; position: absolute;top:0px;right:15px"><i class="material-icons sidenav-trigger" style="font-size:70px;">clear</i></a>
      
      <section class="section1">
        <img id = "peaky" src="https://benjamindenise.github.io/assets/images/logo.png" />
      </section>
      <section class="section2">
        <div id="Family"><h1>La Famille</h1></div>
        <div id="guys">
        <span class="guy" style="background-image: url('https://benjamindenise.github.io/assets/images/Bhuzz2.jpg'); background-size: cover; "></span>
        <span class="guy" style="background-image: url('https://benjamindenise.github.io/assets/images/K2.jpg'); background-size: cover; "></span>
        <span class="guy" style="background-image: url('https://benjamindenise.github.io/assets/images/Genep.jpg'); background-size: cover; "></span>
        <span class="guy" style="background-image: url('https://benjamindenise.github.io/assets/images/Lhaps.jpg'); background-size: cover; "></span>
        <span class="guy" style="background-image: url('https://benjamindenise.github.io/assets/images/Orys2.jpg'); background-size: cover; "></span>
        <span class="guy" style="background-image: url('https://benjamindenise.github.io/assets/images/Prom3.jpg'); background-size: cover; "></span>
        <span class="guy" style="background-image: url('https://benjamindenise.github.io/assets/images/pynqho.jpg'); background-size: cover; "></span>
        <span class="guy" style="background-image: url('https://benjamindenise.github.io/assets/images/pythife.jpg'); background-size: cover; "></span>
        <span class="guy" style="background-image: url('https://benjamindenise.github.io/assets/images/Teykoh.jpg'); background-size: cover; "></span>
        <span class="guy" style="background-image: url('https://benjamindenise.github.io/assets/images/Yzos1.jpg'); background-size: cover; "></span>
        <span class="guy" style="background-image: url('https://benjamindenise.github.io/assets/images/Inde.jpg'); background-size: cover; "></span>
     

        </div>
      </section>
      <section class="section3">
        <h1>Le Plan</h1>
        <div>
          <p>La population est terrorisée, plus personne n’ose sortir : les confinements et les couvre-feux s'enchaînent. Le campus centralien a besoin de personnes de confiance pour assurer sa protection. C’est alors qu’une équipe de brasseurs super dynamiques sort de l’ombre pour rendre le campus aux étudiants et leur faire vivre la meilleure intégration de leur vie: les Peaky WEI’nders envahissent Écully avec une vibe contagieuse.</p>
          <h3>La semaine Taupin :</h3>
          <ul>
            <li>Protéger les futurs centraliens et les rassurer : activités sportives, salle de détente munie de consoles de jeux, séances de sophrologie.
            </li>
            <li>Redonner des forces aux victimes du confinement : Petits-déjeuners, goûters, restauration sur place à midi.
            </li>
            <li>Soutenir les vaillants résistants : fournir des trousses de secours avec stylos neufs, effaceurs, piles pour calculatrices…
            </li>
            <li>Recruter des nouveaux Peaky : découverte et promotion de l’École Centrale de Lyon et de ses cursus.</li>
          </ul> 
          <h3>Quinzaine d’accueil : </h3>
          <p>Les Peaky WEI’nders réservent plusieurs activités.</p>
          <p><br /></p>
          <p>Les incontournables :</p>
          <ul>
            <li>Brunch de bienvenue pour mettre les nouveaux venus à l’aise. </li>
            <li>Rallye dans Lyon pour découvrir notre magnifique ville et les assos qui font vibrer notre campus.
            </li>
            <li>Journée des sports pour faire la connaissance de nos différents clubs sportifs en collaboration avec le BDS.
            </li>
            <li>Activités en plein air : baby-foot géant, rodéo, bubble foot, château gonflable…
            </li>
            <li>HH et Rewass à thèmes en collaboration avec DBS, le Bar, le Bar Pa, CTN et même le Fablab.
            </li>
            <li>Barbecue avec option vegan-friendly.
            </li>
            <li>Comparathlon et Adomathlon.
            </li>
            <li>Organisation de l’Appartathlon en collaboration avec le club week-end.
            </li>
          </ul>
          <p><br /></p>
          <p>Nos projets d'évènements :</p>
          <ul>
            <li>Pérenniser le Barathon pour faire découvrir les bars de lyon et pour créer une ambiance chill pour échanger.</li>
            <li>Promouvoir les arts à Centrale Lyon en collaboration avec le BDA: fresque de promo confectionnée pendant la QA et d’autres activités artistiques (musique, danse, théâtre).
            </li>
            <li>Des activités au shotgun : Escape game, Karting, Paintball, Accrobranche.
            </li>
          </ul>
          <p><br /></p>
          <p>Une vision inédite de l’intégration :</p>
          <p>Notre équipe a pour objectif d’améliorer le brassage conjoint du WEI avec les autres assos centraliennes, ceci permettrait aux futurs centraliens de découvrir d’emblée la vie associative centralienne pendant la QA. </p>
          <p>Un autre de nos objectifs est d’organiser la venue d’un artiste durant le WEI pour un showcase.</p>
          <p>Il est aussi primordial pour nous d’avoir une conscience écologique et donc de proposer un WEI plus vert.</p>
          <p>Finalement, notre équipe est motivée pour brasser avec l'équipe WEI 2020 pour organiser le week-end de désintégration, et envisage également d’inclure les actuels 4a au futur WEI afin de marquer la fin de leur cursus centralien comme il se doit.
          </p>
        </div>
      </section>

      <section class="section4">
        <p>Suivez-nous</p>
        <a href="https://www.facebook.com/peakyweinders" alt="Peaky Wei'nders"><img src="https://benjamindenise.github.io/assets/images/fb.png" /><b>Peaky Wei'nders</b></a>
        <br />
        <a href="https://www.instagram.com/peakyweinders/" alt="Peaky Wei'nders"><img src="https://benjamindenise.github.io/assets/images/insta.png" /><b>@peakyweinders</b></a>
      </section>

      <footer>
        <p>© Made by <a href="https://www.instagram.com/benjamin_dnse" alt="Instagram de K2">K2</a></p>
      </footer>

    
   
  </body>
</html>
