<!-- template par défaut de présentation de liste -->
<br>
<div class="container defaultDescription">
    <h2 class="defaultTitle">À l’Abord’art</h2>

    <p class="defaultP"><i class="material-icons">view_headline</i>Description </p>
    <div style="margin-left:50px;">  
        Mille sartbords, que vois-je ! Dix pirartes à l’allure fière qui s’apprêtent à parcourir la moitié du globe pour ramener, contre vents et mart’ées, l’art à Centrale. Part’és pour l’aventure. et plus que motivés pour vous faire kiffer pendant ces campagnes et vous art’ranger des évènements bien qualis tout au long de l’année, ils débart’quent sur le campus. Art’més jusqu’aux dents face au Covid et nombreuses annulastr.qui montent la gart’de, ils ont plus d’un tour dans leur sac pour ramener l’art à la maison et partager avec vous leurs passions. Que vous maîtrisiez tout le jart’gon ou soyez totalement inculte, que vous soyez un fêtart’d du dimanche ou un adepte de la STR, un artiviste assumé ou un réfrart’ctaire, habitué des musés et salles de théâtre, lecteur, musicien, amateur de dessin ou rien de tout cela, vous allez les art’dorer. A l’abord’art moussaillon, on va secouer Centrale Lyon !
    </div>
    
        <p class="defaultP"><i class="material-icons">accessibility</i>Liste des membres </p>
    <div style="max-width: 500px;margin: auto;">
    <ul style="text-align: left;">
            <li>• Prez : Romane Barge (Atha)</li>
            <li>• SG : Sibylle Brunet (Huli)</li>
            <li>• Trez : Yanis Meziani (Nahnas)</li>
            <li>• VP com : Pauline Mathiot (Skandhy)</li>
            <li>• VP com :  Flore Lafon (Tihee)</li>
            <li>• VP Lyon : Auxence Jiguet (Khautty)</li>
            <li>• VP Clubs : Robin Gayet (Klapto)</li>
            <li>• Marvin-Evans Kameni de Djani (Tof)"</li>
            <li>• VP Event : Blandine Grange (Byxeez)</li>
            <li>• VP Event : Camille Normant (Foukhy)/li>
            <li>• VP Event : Eglantine Anton (Khesta)</li>
    </ul>
    </div>

        <p class="defaultP"><i class="material-icons">event</i>Programme de Mandat</p>

         <div style='text-align: center;'> <a href="/programme.png"> LIEN </a></div> 

        <p class="defaultP"><i class="material-icons">share</i>Réseaux sociaux</p>
        <div style="display: flex;justify-content: space-around;">
            <a style="flex-wrap:wrap;" href="https://www.facebook.com/A-labordart-101786721806542/">Facebook</a>
            <a style="flex-wrap:wrap;" href="https://www.instagram.com/a_l_abord_art/">Instagram</a>
        </div>
</div>